/* =============
    Demo
============= */

#shield-logo{
    display: grid;
    grid-template-columns: auto 70% auto;
    grid-template-areas: ". shield .";
    background-color: black;
    >div{
        grid-area: shield;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        svg{
            width: 100%;
        }
    }
}